.body{
    background-color: var(--color-background);
    align-content: center;
}

.medicalTeam{
    background-color: var(--secondary-color);
    background-image: url("/images/doctors-bg.png");
    padding: 7% 10%;

}