.mainContainer{
    display: flex;
    flex-direction: row;
    margin: 10%;
    align-items: left;
    gap : 20px;
    padding: 5% 5%;
    border-radius: 20px;
    .row{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .leftContainer{
        display: flex;
        width: 50%;
    }
    .rightContainer{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 10px;
        width: 50%;
    }
    .toggleButton{
        // padding : 0 100px;
        width :50%;
        height: 50px;
    }
}