.testimonialscontainer {
    position: relative;
    max-width: 75vw;
    margin: auto;
    padding: 20px;
    
  }
  
  .testimonialstitle {
    text-align: center;
  }
  
  .testimonialslist {
    display: flex;
    overflow-x: hidden;
  }
  
  .testimonial {
    flex: 0 0 33.33%; /* Each testimonial takes up 33.33% of the container width */
    padding: 20px;
    text-align: center;
  }
  
  .testimonialtext {
    margin-bottom: 10px;
  }
  
  .testimonialname {
    font-style: italic;
  }


  .testimonial {
    position: 50px;
    margin-bottom: 20px;
    border: 0px solid #ccc;
    border-radius: 20px;
  }
  
  .quotationmark {
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 24px;
    color: #ccc;
  }
  
  .review {
    margin-top: 20px;
  }
  
  .imagecolumn {
    width: 40%;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .detailscolumn {
    width: 60%;
    padding-left: 20px;
  }
  
  .rating {
    margin-bottom: 10px;
  }
  
  .reviewer {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .domain {
    font-style: italic;
  }
  
  
  .controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .prev-button,
  .next-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .prevbutton:hover,
  .nextbutton:hover {
    background-color: #0056b3;
  }
  